<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <h2>Welcome! <%= user && user.username %></h2>
    <h2>Thanks for signing up on the <%= title %> web app.</h2>
    <h2>Your email is <%= user && user.email %></h2>
    <p><a href="/">Home</a></p>
  </body>
</html>
