
<%- include('partials/page-start.ejs') %>

  <h1>Welcome to <%= title %></h1>
    <h2>Welcome! <%= user && user.username %></h2>
      <h2>Thanks for signing up on the <%= title %> web app.</h2>
        <h2>Your email is <%= user && user.email %></h2>

          <% Posts.forEach(post=> {%>

            <div>
              <a href="/post/<%=post.id%>/comments"><h1><%= post.title %></h1></a>
                <h2><%= post.author %></h2>
                  <p><%= post.body_content %></p>
                  </div>
                  <% })%>




                    <p><a href="/">Home</a></p>

                    <%- include('partials/page-end.ejs') %>