
<%- include('partials/page-start.ejs') %>

  <h2>User <%= user && user.username %></h2>


    <div>
      <h1><%= title %></h1>
        <h2><%= author %></h2>
          <p><%= content %></p>
          </div>

          <p><a href="/">Home</a></p>

          <%- include('partials/page-end.ejs') %>